<!DOCTYPE html>
<html>
<head>
	<title>Expense Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="width:100%">
		<div class="topbar" style="padding: 15px; text-align: center">
			Expense Tracker
		</div>
		<div class="bottom" style="margin-top: 25px; padding: 50px;">
			<div style="float:left; width: 50%;">
				<div style="padding: 15px; text-align: center;">
					Expense List
				</div>
				<table>
					<thead>
						<tr>
							<th>Title</th>
							<th>Category</th>
							<th>Amount</th>
							<th>Notes</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Food</td>
							<td>Category 1, Category 2</td>
							<td>500</td>
							<td>Notes field for our expense</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="float:left; width: 50%">
				<div style="float:top; height:50%;">
					<div style="padding: 15px; text-align: center;">
						Categories List
					</div>
					<table>
						<thead>
							<tr>
								<th>Category</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Category 1</td>
							</tr>
							<tr>
								<td>Category 2</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="float:top; height:50%; margin-top: 35px;">
					Categories By Date
				</div>
			</div>
		</div>
	</div>
</body>
</html>